<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Sales Records</title>
        <link rel="stylesheet" href="/styles.css">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div class="container">
            <h2>Sales Records</h2>
            
            <table>
                <thead>
                    <tr>
                        <th>Item</th>
                        <th>Revenue</th>
                        <th>Cost</th>
                        <th>Profit</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="elements : ${records}" 
                        th:classappend="${elements.revenue - elements.cost > 0} ? 'positive' : 'negative'">
                        <td th:text="*{elements.item}"></td>
                        <td th:text="*{#numbers.formatCurrency(elements.revenue)}"></td>
                        <td th:text="*{#numbers.formatCurrency(elements.cost)}"></td>
                        <td th:text="*{#numbers.formatCurrency(elements.revenue - elements.cost)}"></td>                
                    </tr>
                </tbody>
            </table>
        </div>
    </body>
</html>